/* Ajustes Iniciais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #030303;
    background-color: #f8f8f8;
    height: 100dvh;
    line-height: 1.6;
    font-size: 1.6rem;
}

/* Acordeão */

section {
    padding: 6.1rem;
}

.acordeao {
    display: flex;
    flex-flow: column;
    gap: 2.4rem;

    .item {
        display: flex;
        flex-flow: column;

        &.aberto {

            .cabecalho {
                background-color: rgba(36, 36, 161);
                color: #f8f8f8;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;

                &::after {
                    content: "\25b2";
                }

                &:hover {
                    background-color: rgba(36, 36, 161, 0.89);
                }

            }

            .conteudo {
                display: flex;
                flex-flow: column;
                gap: 1.6rem;
                text-align: justify;
                text-indent: 2.5rem;
                line-height: 1.6;
                padding: 1.6rem 2rem;
                background-color: rgba(36, 36, 161, 0.164);
                border-bottom-left-radius: 3rem;
                border-bottom-right-radius: 3rem;
                transition: background-color .4s ease;
            }
        }

        .cabecalho {
            display: flex;
            justify-content: space-between;
            padding: 1.6rem 2rem;
            box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.24);
            border-radius: 3rem;
            font-size: 2rem;
            background-color: #94eedf28;

            &::after {
                content: "\25BC";
            }

            &:hover {
                background-color: #94eedfb2;
                box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.44);
                cursor: pointer;
            }
        }

        .conteudo {
            height: 0;
            overflow: hidden;
            transition: height .4s ease;
        }
    }
}